@model List<finalproject.Models.Tbl_Books>


    <div class="container" >
        <div class="row">

            @foreach (var item in Model)
            {


                
                     <div class="col-lg-4 col-md-4" style="border:2px">

                                  <img class="img-rounded img-responsive cimg" style="height:200px; width:250px; align-self:center" src="@Url.Content(item.Book_img)" />
                          <br />
                         
                     <table style="width:250px;" >
                         <tr style="border-bottom: 1px solid gray">
                             <td>
                                 <b>Book name:</b>
                             </td>
                             <td >
                                &nbsp;@item.Book_name
                             </td>
                         </tr>
                         <tr style="border-bottom: 1px solid gray">
                             <td><b>Author:</b></td>
                             <td>&nbsp;@item.auth_id</td>
                         </tr>
                         <tr style="border-bottom: 1px solid gray">
                             <td><b>Price:</b></td>
                             <td>&nbsp;@item.Book_price</td>
                         </tr>
                     </table>   
                         
                         
                         
                       
                   
                    

                   
                     
                      </div>
                  
                 


            }
       
        
        
        
        </div>
    </div>





   