
@{
    ViewBag.Title = "Login";
}

<h2>Member Login</h2>

<div class="container">

    @using (Html.BeginForm("Login", "tbl_member", FormMethod.Post))
    {
        <input type="text" name="email" />
        <input type="password" name="pass" />
        <input type="submit" value="Login" />

    }
</div>