
@{
    ViewBag.Title = "Login";
}

<h2>Member Login</h2>

<div class="container">

    @using (Html.BeginForm("Login", "tbl_member", FormMethod.Post))
    {
        <div class="form-group">
            <label>Enter Email</label><input type="text" name="email" class="form-control" placeholder="abcd@gmail.com" />
           <br />
            <label>Enter you Password</label><input type="password" name="pass" class="form-control" placeholder="******"/>
            <br  />
            <input type="submit" value="Login" class="btn btn-primary" />

        </div>

    }
</div>