@model IEnumerable<finalproject.Models.tbl_member>

@{
    ViewBag.Title = "PublicProfile";

}

<h2>Find People</h2>
<table class="table">
    <tr>    
        <th>
            @Html.DisplayNameFor(model => model.mem_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mem_name)
            </td>
           
            <td>



                <a class="btn btn-success btn-sm" href="@Url.Action("FollowPeople", new { followed_id = item.mem_id }) ">Follow</a>
                |
                <a class="btn btn-success btn-sm" href="@Url.Action("DetailsPublic", new { id = item.mem_id }) ">View Profile</a>



                
            </td>
        </tr>
    }

</table>

