
@{
    ViewBag.Title = "Login";
}

<h2>Vendor Login</h2>
<div class="container">

    @using (Html.BeginForm("Login", "Tbl_Vendorr", FormMethod.Post))
    {
        <div class="form-group">
            <label>Enter you Email</label><input type="text" name="email" class="form-control" />
            <label>Enter you Password</label><input type="password" name="pass" class="form-control" />
            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
    }
</div>