
@{
    ViewBag.Title = "Login";
}

<h2>Vendor Login</h2>
<div class="container">

    @using (Html.BeginForm("Login", "Tbl_Vendorr", FormMethod.Post))
    {
        <div class="form-group">
            <label>Enter Email</label><input type="text" name="email" placeholder="abcd@abc.com" class="form-control" />
            <br  />
            <label>Enter Password</label><input placeholder="******" type="password" name="pass" class="form-control" />
            <br  />
            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
    }
</div>