@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    BookSelf<br />
    Pakistan<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>




<div class="container">

    @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label>Enter Email</label><input type="text" name="email" class="form-control" placeholder="abcd@gmail.com" />
            <br />
            <label>Message</label><textarea name="content" class="form-control" placeholder="Your Message" rows="4" cols="50"></textarea>
            <br />
            <input type="submit" value="Send" class="btn btn-primary" />

        </div>

    }
</div>