@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookSelf</h1>
    <p class="lead">
        Book Shelf is an online library of books and a perfect heaven for book lovers all around the globe
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Perfect place for a book lover..sign up to get started now!
          </p>  

<p><a class="btn btn-default" href=@Url.Action("Create","Tbl_member")>Learn more &raquo;</a></p>
    </div>
</div>