@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color:lightslategrey">
    <h1>BookSelf</h1>
    <p class="lead">
        Book Shelf is an online library of books and a perfect heaven for book lovers all around the globe
    </p>



</div>

@*<div >
        <div id="carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1" ></li>
                <li data-target="#carousel" data-slide-to="2" ></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/content/img/1.jpg" alt="first slide">
                    <div class="container">
                        <div class="carousel-caption"> <h1>many famous books</h1> </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/content/img/2.jpg" alt="second slide">
                    <div class="container">
                        <div class="carousel-caption"> <h1>many famous books</h1> </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/content/img/3.jpg" alt="third slide">
                    <div class="container">
                        <div class="carousel-caption"> <h1>many famous books</h1> </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="carousel" class="left carousel-control" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a href="carousel" class="right carousel-control" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
    <script>
        $("#carousel").carousel({
            interval: 2000
        });
    </script>*@




<div id="tableContiner">
    @{
        Html.RenderAction("subscribe");
       
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Perfect place for a book lover..sign up to get started now!
        </p>


        <p>
            See Our Book Library <a class="btn btn-primary" href=@Url.Action("Searching","Tbl_Book")>Book Library &raquo;</a><br /><br />
            See Our E Book Collection <a class="btn btn-primary" href=@Url.Action("SearchingEbook","Ebooks")>E Book Collection &raquo;</a>

        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create","Tbl_member")>Learn more &raquo;</a></p>
    </div>
</div>
