@model finalproject.Models.Book_categoryy

@if (Session["Admin_id"] != null && Session["Admin_email"] != null)
{
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";

}
else
{

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <a class="btn btn-info btn-sm" href="@Url.Action("Index")">Back to List</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>

        <dt>
            Catefory Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_status)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { id = Model.cat_id})">Update Profile</a>

</p>
