@model finalproject.Models.tbl_group

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.group_title) Home</h2>


<br />
@*<button>Write Blog</button>
    @Html.ActionLink("Create a post", "Create", "tbl_blog", new { id = Model.group_id }, null)*@
<a class="btn btn-success btn-md" href="@Url.Action("Create", "tbl_blog",new { id = Model.group_id }) ">Create a post</a>

<br />

<br />


<div id="tableContiner">


    @{Html.RenderAction("Allblogsofgroup", "tbl_blog");}

</div>

